# input data
data
# *.fasta
*.npy
# *.csv
*.bam
*.cram
*.pack


*fastq.gz

# *.fasta
# *.fa
*.fa.0123
*.fa.amb
*.fa.ann
*.fa.bwt.2bit.64
*.fa.pac
*.pack
# *.pt
# *.pth
# *.npy
individual_models/snps_cryptic50kpos_emb.txt
*.txt
# *.yaml
# find . -type f -size +99M
# find . -type f -size +99M | awk -F. '{if (NF>1) print $NF}' | sort | uniq8
*.pack
AMPTrans-lstm/